@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*CSS variables Color Palette*/
:root {
  --primary--font: "Inter", sans-serif;
  --secondary--font: "Bebas Neue", sans-serif;
  --primary: #2c1b69; /* Deep purple*/
  --secondary: #8c5bff;
  --accent: #c4a8ff;
  --light: #f5f1fe;
  --dark: #0d0a1a;
  --muted: #7a6e99;
  --white: #ffffff;
}
/*Navbar*/
/* Override the bootstrap color for the nav bar*/
.navbar {
  background-color: var(--primary) !important;
  padding: 14px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
}

.navbar-brand {
  font-family: var(--secondary--font);
  font-size: 1.7rem;
  color: var(--white) !important;
  letter-spacing: 0.05em;
}

.navbar-brand span {
  color: var(--secondary);
}

.navbar-nav .nav-link {
  font-family: var(--primary--font);
  color: white !important;
  text-transform: uppercase;
  border-radius: 6px;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  background-color: var(--secondary);
  color: var(--primary) !important;
  padding: 8px 16px;
}

/* Hero Section */

.hero-section {
  background:
    linear-gradient(rgba(44, 27, 105, 0.7), rgba(140, 91, 255, 0.7)),
    url("../images/Designer%20(1).png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: left;
}

.hero-section h1 {
  color: var(--white);
  font-family: var(--secondary--font);
  font-size: 5rem;
}

.hero-section p {
  color: var(--white);
  font-family: var(--primary--font);
}

.hero-section .btn-primary {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--white);
  font-weight: bold;
}

.hero-section .btn-primary:hover {
  background-color: var(--secondary);
  color: var(--white);
  border-color: var(--secondary);
}

/* Inner pages*/

.page-hero{
  background-color: var(--primary);
  padding: 80px 0 60px;
  
}

.page-hero-title{
  font-size: 4rem;
  color: var(--white);
  font-family: var(--secondary--font);
}

.page-hero-title span {
  color: var(--secondary);
}

.page-hero-sub{
  color: var(--muted);
}
/* Section 1 */
.section-1 {
  background-color: var(--light);
  line-height: 2rem;
}

.section-1 h2 {
  text-transform: uppercase;
}

.section-1 .card-title {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: bold;
}

.section-1 p {
  color: var(--muted);
}

.primary-text {
  color: var(--primary);
}

.secondary-text {
  color: var(--secondary);
}

/*Footer*/

footer {
  background-color: var(--dark);
  color: var(--muted);
  
}

footer h5 {
    text-transform: uppercase;
    font-family: var(--secondary--font);
}

footer span {
    color: var(--secondary);
}

.footer-link {
  color: var(--muted);
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--secondary);
  text-decoration: none;
}


